<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid"> </div>
</div>
<div class="container-fluid mt--8">

  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row w-100 m-0 p-1 d-flex justify-content-between align-items-center">
            <h3>Services ({{ serviceList.length }})</h3>
            <button type="button" class="btn btn-dark btn-sm" (click)="openServiceDialog(serviceModalRef)">Add New Services</button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Added On</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of serviceList; index as idx"
                class="{{ !service.serviceStatus ? 'bg-light' : '' }}">
                <td>{{ idx + 1 }}.</td>
                <td>
                  <span class="paraLimit">
                    {{ service.title || 'No Title Provided' }}
                  </span>
                </td>
                <td>
                  <span class="paraLimit">
                    {{ service.description || 'No Description Provided' }}
                  </span>
                </td>
                <td>{{ service.addedOn.toDate() | date: 'dd-MM-yyyy hh:MM:ss aa' }}</td>
                <td>{{ service.serviceStatus ? "Active" : "In-Active" }}</td>
                <td>
                  <!-- <button type="button" class="btn btn-dark btn-sm" [disabled]="image.imageUrl == ''"
                    (click)="openLink(image.imageUrl)">
                    View Image
                  </button> -->
                  <!-- <button type="button" class="btn btn-dark btn-sm" (click)="viewDetails(service)">
                    View Details
                  </button> -->
                  <button type="button" class="btn btn-dark btn-sm" (click)="openServiceDialog(serviceModalRef, service)">
                    Update
                  </button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="deleteItem(service.serviceId)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #serviceModalRef let-modal>
  <div class="modal-header">
    <h4 class="modal-title d-flex flex-column">
      <span>Service Details</span>
      <span *ngIf="branchId !== null">{{ branchModel?.title || '' }}</span>
    </h4>
    <button type="button" class="close" aria-label="Close" id="closeAddNewStaffModal" #closeAddNewStaffModal
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="serviceForm"  (ngSubmit)="uploadImage(serviceForm)" >
   <!-- (ngSubmit)="uploadImage(serviceForm)" -->
    <div class="modal-body">
      <div class="form-group">
        <mat-label>Title</mat-label>
        <input type="text" class="form-control" name="title" formControlName="title">
      </div>
      <div class="form-group">
        <mat-label>Description</mat-label>
        <textarea type="text" class="form-control" name="description" rows="3" formControlName="description"></textarea>
      </div>
      <!-- <div class="form-group ">
        <label for="imageFile">Select Image File</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="imageFile" (change)="checkFileType($event.target.files)">
          <label class="custom-file-label" for="imageFile">
            <span *ngIf="tempFile == null">Choose file</span>
            <span *ngIf="tempFile != null">{{ tempFile.name }}</span>
          </label>
        </div>
      </div> -->
      <div class="form-group d-flex justify-content-between">
        <label for="slideStatus">Status</label>
        <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="serviceStatus">
          <label ngbButtonLabel class="btn-primary btn-sm">
            <input ngbButton type="radio" [value]="true">Enable
          </label>
          <label ngbButtonLabel class="btn-primary btn-sm">
            <input ngbButton type="radio" [value]="false">Disable
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="reset" class="btn btn-sm btn-dark" (click)="modal.dismiss('Cross click')"> Cancel</button>
      <button type="submit" class="btn btn-sm btn-dark" [disabled]="loader">
        Submit
        <span *ngIf="loader">&nbsp;</span>
        <div *ngIf="loader" class="spinner-border spinner-border-sm text-white" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>
  </form>
</ng-template>

